.card {
    
   margin: 0%;
   border-radius: 0%;
    height: 40%;
 }
 
 .content_1 {
    flex-direction: row;
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: baseline;
 }

 .button {
    margin: 0.5rem;
    width: 40%;
    height: 100%;
 }

 .input {
    width: 60%;
 }

 .float_input {
    height: 1.5rem;
 }

 .X_mark {
    
    width: 100%;
    text-align: center;
    
    
 }

 .tabla {
   margin: 0%;
 }

 .table {
   width: 100%;
 }
 
 